# Configuration #
#################
config.js
sftp-config.json

# NPM Packages #
################
node_modules

# Bower Packages #
##################
client/lib

# Compiled Source, Logs and Non-Essential Data #
################################################
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
.sass-cache
Gemfile.lock
lib-cov
logs
pids
results
